<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>com.mxp.appointments.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>TokenServlet</servlet-name>
        <servlet-class>com.mxp.appointments.TokenServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenServlet</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>com.mxp.appointments.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>com.mxp.appointments.EventsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventsServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.mxp.appointments.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BPartnerSearchServlet</servlet-name>

        <servlet-class>com.mxp.appointments.BPartnerSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BPartnerSearchServlet</servlet-name>
        <url-pattern>/bpartners</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.mxp.appointments.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupAddServlet</servlet-name>
        <servlet-class>com.mxp.appointments.GroupAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupAddServlet</servlet-name>
        <url-pattern>/group-add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GroupRemoveServlet</servlet-name>
        <servlet-class>com.mxp.appointments.GroupRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroupRemoveServlet</servlet-name>
        <url-pattern>/group-remove</url-pattern>
    </servlet-mapping>
</web-app>
